@import "tailwindcss";
@plugin "daisyui";

@source inline("text-yellow-500 underline text-white font-medium text-2xl transition-colors");



@theme {
    --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
    --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}



.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: black !important; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: bold;
}


.swiper-pagination-bullet-active {
  background: #ffffff !important; 
  width: 12px;
  border-radius: 5px;
}